form {


    .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;

        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            font-style: bold;
        }
    }

    .confirm-btn {
        font-weight: 500;
    }
}