select {
    width: 100%;
    height: 46px;
    padding: 11px 12px;
    border-radius: 6px;
    background: #F1F3F5;
    border: none;
    outline: none;
    cursor: pointer;

    .factory-option {
        width: 100%;
        height: 46px;
        padding: 11px 12px;
        border-radius: 6px;
        background: #F1F3F5;
        border: none;
        outline: none;
        cursor: pointer;

    }
}