form {
    .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;

        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            font-style: bold;
        }


    }

    .forgot-password-btn {
        font-weight: 500;
    }

    .back-to-signin {
        font-weight: 400;
        color: rgb(0, 145, 255);
        font-size: 14px;
        font-style: bold;
        border: none;
        background-color: unset;
        cursor: pointer;

    }
}