.container {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100vh;
    // vertical-align: center;
    flex-direction: column;
    background-color: rgb(248, 249, 250);


    .headerWithLogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        img {
            width: 100px;
            height: 100px;
        }

        h2 {
            font-weight: 500;
            font-size: 36px;
            font-style: normal;
            line-height: 119.7%;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 36px;
        font-style: normal;
        line-height: 119.7%;
        margin: 20px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 348px;
        height: auto;
        padding: 24px 24px 32px;
        gap: 10px;
        background: #FBFCFD;
        box-shadow: rgba(236, 238, 240, 0.5) 0px 10px 5px;
        border-radius: 12px;

    }
}